<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-2">
          </aside>
          <main class="col-12 col-md-8" role="main"> 
            <h1 class="text-center" style="max-width: 100%; font-weight: 700; margin-bottom: 1rem;">Documentation migration status</h1>
            <p class="p-2 mt-3 text-center" style="max-width: 100%; background-color: #FFC0C0; border: 1px; border-radius: 5px;">During the transition to this new documentation website we will update this page to help explain where specific documentation is located.</p> 
            {{ block "main" . }}{{ end }}
          </main>
          <aside class="col-12 col-md-2">
          </aside>
        </div>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
