<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
          <!--Change width of columns <aside class="col-12 col-md-4 col-xl-3 td-sidebar d-print-none">-->
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
            {{ partialCached "page-meta-links.html" . }}
            {{ partial "toc.html" . }}
            <!--{{ partialCached "taxonomy_terms_clouds.html" . }}-->
          </aside>
          <main class="col-12 col-md-9 col-xl-8 ps-md-5" role="main">
          <!--Change width of columns <main class="col-12 col-md-8 col-xl-7 ps-md-5" role="main">-->
            <!--{{ partialCached "version-banner.html" . }}-->
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
