{{ if not .Params.notoc -}}
  {{ with .TableOfContents -}}
    {{ if ne . `<nav id="TableOfContents"></nav>` -}}
      <h6 class="text-primary fw-bold border-bottom border-primary pb-3 pt-3">On this page</h5>
      <div class="td-toc mt-3">
      <!--<div class="td-toc">-->  
        {{ . }}
      </div>
    {{ end -}}
  {{ end -}}
{{ end -}}
