<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-2">
          </aside>
          <main class="col-12 col-md-8" role="main"> 
            <h1 class="text-center" style="max-width: 100%; font-weight: 700; margin-bottom: 1rem;">CAST Imaging Documentation</h1>
            <div class="mx-auto" style="max-width: 100%;!important">
              {{ partial "search-input.html" . }}
            </div>  
              <p class="p-2 mt-3 text-center" style="max-width: 100%; background-color: #FFC0C0; border: 1px; border-radius: 5px;">We are in the process of building a new documentation website and while we add new content and migrate existing content here, you can temporarily find most of our existing documentation at <a href="https://doc-legacy.castsoftware.com" target="_blank" rel="noopener">doc-legacy.castsoftware.com</a>.<br><br>For more detailed information about where documentation is currently located, see <a href="/status" target="_blank" rel="noopener">Documentation migration status</a>.</p>
            {{ block "main" . }}{{ end }}
          </main>
          <aside class="col-12 col-md-2">
          </aside>
        </div>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
