<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-2">
          </aside>
          <main class="col-12 col-md-8" role="main"> 
            <h1 class="text-center" style="max-width: 100%; font-weight: 700; margin-bottom: 1rem;">Search the documentation...</h1>
            <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
            <script src="/pagefind/pagefind-ui.js"></script>
            <div id="search"></div>
            <script>
              window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ element: "#search", showSubResults: true });
              });
            </script>    
            {{ block "main" . }}{{ end }}
          </main>
          <aside class="col-12 col-md-2">
          </aside>
        </div>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
